{% extends "network/layout.html" %}

{% block body %}

{% if message %}
        <div>{{ message }}</div>
{% endif %}
    
<div class="container-fluid">

{% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="row">
                <div class="col-md-2">
                    <svg height="50" width="50">
                        <g>
                            <circle cx="30" cy="30" r="20" fill="#0dcaf0" text="Test"></circle>
                            <text x="19" y="35" font-family="Times" font-size="" fill="white">{{ post.first.user.get_initials }}</text>
                        </g>
                    </svg>
                </div>
                <div class="col-md-10">
                    <a href="{% url 'profile' post.first.user.username %}"><h6 class="card-title">{{ post.first.user.first_name}} {{ post.first.user.last_name }}</h6></a>
                    <p class="card-text"><small class="text-muted">{{ post.first.timestamp }}</small></p>
                </div>
            </div>
            <div class="col">
                <div class="card-body">

                    <p class="card-text">{{ post.first.content }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% if post %}
    {% include 'network/paginations.html' %}
{% endif %}

{% endblock %}