 {% for post in posts %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="row">
                <div class="col-md-2">
                    <svg height="50" width="50">
                        <g>
                            <circle cx="30" cy="30" r="20" fill="#0dcaf0" text="Test"></circle>
                            <text x="19" y="35" font-family="Times" font-size="" fill="white">{{ post.user.get_initials }}</text>
                        </g>
                    </svg>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'profile' post.user.username %}"><h6 class="card-title">{{ post.user.first_name}} {{ post.user.last_name }}</h6></a>
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            {% if user.is_authenticated and user.username == post.user.username %}
                                <h6 class="card-title">
                                    <a role="button" id="post{{ post.id }}" href="#" data-bs-toggle="modal" data-bs-target="#edit_post" onclick="edit_post(this.id)">Edit</a>
                                </h6>
                            {% endif %}
                        </div>
                    </div>

                    <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <p class="card-text" id="cont{{ post.id }}">{{ post.content }}</p>
                    {% if user.id in post.has_been_liked %}
                        <button class="btn btn-info" type="button" id="{{ post.id }}" onclick="unlike(this)"><i class="far fa-thumbs-up"></i> <span id="p{{ post.id }}">{{ post.like_count }}</span></button>
                    {% else %}
                        <button class="btn" type="button" id="{{ post.id }}" onclick="like(this)"><i class="far fa-thumbs-up"></i> <span id="p{{ post.id }}">{{ post.like_count }}</span></button>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% include 'network/paginations.html' %}
{% include 'network/modal.html' %}