{% extends "network/layout.html" %}

{% block body %}

{% if message %}
        <div>{{ message }}</div>
{% endif %}
    
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                <li style="list-style: none" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row p-row">
        <div class="col-md-1">
        </div>
        {% if profile %}
            <div class="col-md-3">
                <div class="card profile" style="width: 18rem;">
                    <div class="col-md-2">
                        <svg height="50" width="50">
                            <g>
                                <circle cx="30" cy="30" r="20" fill="#0dcaf0" text="Test"></circle>
                                <text x="19" y="35" font-family="Times" font-size="" fill="white">{{ profile.get_initials }}</text>
                            </g>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.first_name}} {{ profile.last_name }}</h5>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Following  <span class="badge bg-dark">{{ profile.followers.count }}</span></li>
                        <li class="list-group-item">Followers  <span class="badge bg-dark">{{ profile.followeds.count }}</span></li>
                    </ul>
                    <div class="card-body">
                    {% if user.is_authenticated %}
                        {% if is_following %}
                            <a href="{% url 'unfollow' profile.username %}" role="button" class="btn btn-outline-danger">Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow' profile.username %}" role="button" class="btn btn-outline-success">Follow</a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-4">
        
            {% include "network/posts.html" %}

        </div>
        <div class="col-md-2">
        
        </div>
        <div class="col-md-2">
        </div>

    </div>

{% include  "network/modal.html" %}
{% endblock %}
