
.card {
    margin: auto;
    max-width: 540px;
    margin-top: 30px;
}

.post {
    max-width: 540px;
    margin: auto;
    margin-top: 30px;
}

.btn-outline-info {
    float: right;
    margin-bottom: 1px;
}

.card-title {
    margin-top: 15px !important;
}


.register {
    max-width: 800px;
    margin: auto;
    margin-top: 15%;
}

.login {
    max-width: 450px;
    margin: auto;
    margin-top: 15%;
}

.input-group {
    margin-bottom: 10px;
}

.register h2, .register p, .login h2, .login p  {
    text-align: center;
}

.profile {
    text-align: center;
}

.nav {
    background-color: cornflowerblue;
}

.nav-link {
    color: white;
}
